/*     mission's hero section*/
.m_hero{
    position: relative;
}
.m_hero image{
    width: 100%;
}
.m_text {
    position: absolute;
    color: white; 
    width: 70%;
    top: 7em;
    left: 0.7em;
    display: flex;
    flex-wrap: wrap;
}
/*    sub menu    */
.m_subMenu a{
    width: 8.7em;
    padding: 0.4em 1.5em;
    margin: 0.2em;
    border-radius: 20px;
    text-align: center;
    font-family: 'Fira Mono';
    font-size: 12px;
    color: white;
}
.m_subMenu{
    display: flex;
    justify-content: space-around;
    margin-top: 1em;
    padding: 0 1em;
} 

/*      Time line   */
    .Timeline_section{
        height: auto;
        margin-top: 2em;
        }
.T_line{
    width: 0.5em;
    background: #D9D9D9;
    height: 60em;
    align-self: center;
    justify-self: center;
}
.Timeline_section{
    height: auto;
    border: 1px solid green;
    position: relative;
}
/* .missions{
    position: absolute;
    border:1px solid red;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    margin-top: 2em;
} */
.mission_container{
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: auto;
    border: 1px solid yellow;
}
.box_date, .box_info{
    width: 40%;
    height: 10em;
    border: 1px solid blue;
    margin-bottom: 2em;
    /* padding-right: 0.3em; */
}
.circle {
    height: 2em;
    width: 2em;
    border: 3px solid white;
    background: red;
    border-radius: 50%;
}
.box_date p{
    background: #479EF4;
    text-align: center;
    display: inline-block;
    padding: 0.2em 1.5em;
    border-radius: 25px;
    margin: 0.2em;
}
.box_date p.left{float: right;}






















